<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.human.dao.IF_patDAO">

	<insert id="insertRecord" parameterType="com.human.vo.PatVO">
		insert into record values (#{no},#{depart},#{disease},#{indate},default,#{memo},#{room},#{depart2},#{pt},#{medicine},#{mor},#{noon},#{evening})
	</insert>
	<insert id="insertPat" parameterType="com.human.vo.PatVO">
		insert into patient values (#{no},#{name},${age},#{sex},#{birthday},#{address})
	</insert>
	<!-- <update id=""></update> <select id=""></select> <delete id=""></delete> -->
	<sql id="search">
		<if test = '(depart != null and !depart.equals("전체과"))'>
			and depart = #{depart}
		</if>
		<if test = '(outdate !=null and outdate.equals("inPat"))'>
			and outdate is null
		</if>
		<if test = '(outdate !=null and outdate.equals("outPat"))'>
			and outdate is not null
		</if>
		<if test = '(startDate!=null and !startDate.equals("") and seldate!=null and !seldate.equals("--선택--"))'>
			and ${seldate} >= #{startDate} 
		</if>
		<if test = '(endDate!=null and!endDate.equals("") and seldate!=null and !seldate.equals("--선택--"))'>
			<![CDATA[and ${seldate} <= #{endDate} ]]> 
		</if>
	</sql>
	
	<select id="selectAll" resultType="com.human.vo.PatVO">
		select * from(select rownum count, a.* from (select * from view_pat where 1=1
		<include refid="search"></include>
		order by indate desc) a) 
		where count between ${startNo} and ${endNo}
	</select> 
	<select id="countBoard" resultType="int">
		select count(*) from view_pat where 1=1
		<include refid="search"></include>
	</select>
	<select id="getNum" resultType="int">
		select board_cnt.nextval from dual
	</select>
	<select id="selectOne" resultType="com.human.vo.PatVO">
		select * from view_pat where no = #{no} 
	</select>
	<select id="selectAttach" resultType="String">
		select fname from board_attach where num = #{num} 
	</select>
	
	<insert id="board_attach" parameterType="String">
		insert into board_attach values((select max(num) from board1), #{filename},default)
	</insert>
	<delete id="delete">
		delete from record where no = #{no}
	</delete>
	<update id="modyOne">
		update board1 set email=#{email}, title=#{title}, content=#{content}, pass=#{pass} where num = #{num}
	</update>
	<update id="outDate">
		update record set outdate = current_date where no = #{num}
	</update>
</mapper>